.hide {
  display: none;
}

body {
  background: #FF512F;
  background: -webkit-linear-gradient(to right, #DD2476, #FF512F);
  background: linear-gradient(to right, #DD2476, #FF512F);
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-weight: 300;
  line-height: normal;
}

h3,
a {
  font-size: 2.3rem;
}

@media (max-width: 991px) {
  h3,
  a {
    font-size: 1.9rem;
  }
}

.App {
  font-family: "Lato", serif;
  font-size: 1.6rem;
}

.App .App-paragraph {
  display: inline-block;
}

.App a,
.App a:focus,
.App a:visited,
.App a:active,
.App a:hover {
  text-decoration: none;
}

.App a .fa,
.App a:focus .fa,
.App a:visited .fa,
.App a:active .fa,
.App a:hover .fa {
  margin-left: 10px;
}

.App h3 {
  color: #FFFFFF;
}

.App .App-paragraph {
  margin-top: 0;
  margin-bottom: 0;
}

.App .App-wrap {
  text-align: center;
  justify-content: center;
  animation: 1s fadeinup cubic-bezier(0.78, 0.1, 0.19, 0.91);
  opacity: 0;
  animation-fill-mode: forwards;
  padding: 15px;
}

.App .App-wrap .App-wrap__inner {
  padding: 60px;
  -webkit-box-shadow: 3px 3px 20px 0 rgba(0, 0, 0, 0.14);
  box-shadow: 3px 3px 20px 0 rgba(0, 0, 0, 0.14);
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

@media (max-width: 991px) {
  .App .App-wrap .App-wrap__inner {
    padding: 20px;
  }
}

.App .App-wrap.App-wrap--white .App-wrap__inner {
  background: #FFFFFF;
}

.App .App-wrap.App-wrap--white .App-wrap__inner a {
  color: #FF512F;
}

.App .App-wrap.App-wrap--transparent .App-wrap__inner {
  background: transparent;
  box-shadow: 0px 0px 0px 0 rgba(0, 0, 0, 0.14);
}

.App .App-wrap.App-wrap--transparent .App-wrap__inner a {
  color: #FFFFFF;
}

.App .App-wrap:first-child {
  animation-delay: 0.0;
}

.App .App-wrap:nth-child(2) {
  animation-delay: 0.1s;
}

.App .App-wrap:nth-child(3) {
  animation-delay: 0.2s;
}

.App .App-wrap:nth-child(4) {
  animation-delay: 0.3s;
}

.App .App-wrap:nth-child(5) {
  animation-delay: 0.4s;
}

.App .App-wrap:nth-child(6) {
  animation-delay: 0.5s;
}

.App .App-wrap:nth-child(7) {
  animation-delay: 0.6s;
}

.App .App-wrap:nth-child(8) {
  animation-delay: 0.7s;
}

.App .App-wrap:nth-child(9) {
  animation-delay: 0.8s;
}

.App .App-wrap:nth-child(10) {
  animation-delay: 0.9s;
}

.App .App-wrap .App-wrap__social-link {
  margin: 10px;
}

.App .App-wrap .App-wrap__image--medium {
  width: 100px;
  border-radius: 50%;
  border: 4px solid #FFFFFF;
  box-shadow: 3px 3px 20px 0 rgba(0, 0, 0, 0.14);
}

@keyframes fadeinup {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes levitate {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  30% {
    opacity: 1;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes fadeoutdown {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(20px);
  }
}
